.split-container {
    display: flex;
    height: 100vh;
    flex-direction: column;

    @media (max-width: 600px) {
      flex-direction: column;
    }
    @media (min-width: 601px) {
      flex-direction: row;
    }
  }

  .output-section {
    flex: 1;
    flex-direction: column;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    .pair-label {
      font-size: 3.5rem;
      color: #333;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &.chosen {
        background-color: #d1e7dd;
        color: #0f5132;
        border: 2px solid #0f5132;
      }
    }
  }
 
  .dice-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: 20px;
    padding:20px;
}

.toast {
  position: fixed;
  text-align: center;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 1000;
  opacity: 0.95;
  font-size: 1.1rem;
  pointer-events: none;
}

.info-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #077fff39;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;

    .modal-content {
        background: #fff;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        max-width: 500px;
        width: 100%;
        position: relative;
        .close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}